
body {background-image: url('Door.jpg');

background-repeat: no-repeat;
background-attachment: fixed;
background-size: 1500px 1000px;
font-family:Cormorant Infant;
}

h1   {color: white;
font-family:Cormorant Infant;
font-size: 400%;
text-align: center;}

pre {color:black;
font-family:Cormorant Infant;
font-size: 100%;
display: inline-block;

}

.button {
  background-color: #ffffff;
font-family:Cormorant Infant;
width:400px;
height: 100px;
font-size: 15px;
display: inline-block;
height: 200px ;
cursor: pointer;
}

header {
      
      padding: 20px;
      margin: -70px 26px;
      text-align: center;
      
      font-size: 15px;
      
  }

  div {
    margin: 30px 30px;
    display: inline-block;
    width: 600px;
  }

  footer { 
    text-align: center;
    
    
  }



article {
  color:white;
  text-align: center;
  margin: 50px 26px;
font-family: Cormorant Infant;
font-size: 250%;

}





